<div class="container">
  <div id="content">

  </div>
  <script type="text/javascript">
  window.postArray = <%= raw @posts.to_json %>;
  $(function(){
    postsCreator("content", postArray);
  });
  </script>
</div>

