<div class="container">
  <div id="content">
    <ul class="posts">
      <% @posts.each do |post| %>
        <div id="post-<%= post.id %>"></div>
        <script type="text/javascript">
          $(function(){
            postCreator("post-<%= post.id %>", {title: "<%= post.title %>", content: "<%= post.content %>"})
          });
        </script>
      <% end %>
    </ul>
  </div>
</div>

